.shop-page {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-page-heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
}

.filter-togglers {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  width: 100%;
  align-self: center;
  max-width: 1200px;
}

.fa-sliders {
  padding-right: .5rem;
  color: #444444c2;
}

.toggle-filters-btn {
  background: #fff;
  border: 1px solid #4444444a;
  padding: 0 1rem;
  border-radius: .8rem;
}

.toggle-filters-btn:hover {
  filter: brightness(.96);
  cursor: pointer;
}

.selector {
  width: 24rem;
}

.selector-wrapper {
  position: relative;
  width: 100%;
  height: 4rem;
  border: 1px solid #4444444a;
  border-radius: .8rem;
}

.selector-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 .8rem;
}

.selector-trigger:hover {
  cursor: pointer;
}

.selector-options {
  position: absolute;
  width: 100%;
  border: 1px solid #4444444a;
  border-radius: .8rem;
  top: 4.2rem;
  z-index: 10;
}

.selector-option {
  padding: .8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
}

.selector-option:first-child {
  border-radius: .8rem .8rem 0 0;
}

.selector-option:last-child {
  border-radius: 0 0 .8rem .8rem;

}

.selector-option:hover {
  cursor: pointer;
  background-color: #fff;
  filter: brightness(.96);
}

.fa-caret-down {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #444444c2;
}

.grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 5rem 2rem;
}

.card-img {
  width: 100%;
  aspect-ratio: 1;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
}

.card-number,
.card-price {
  font-weight: 400;
  padding: .5rem 0;
}

.card-number {
  padding-top: 1rem;
}

.fa-heart {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  transition: all 200ms;
  margin-left: 1rem;
}

.fa-heart:hover {
  cursor: pointer;
  -webkit-text-stroke-color: red;
  color: red;
}

.card-views,
.card-favourites {
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.fa-eye {
  color: white;
  margin-left: 1rem;
}

.card-info-box {
  position: absolute;
  right: clamp(1rem, 1.5vw, 3rem);
  top: clamp(2.5rem, 2.5vw, 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 8rem;
  height: calc(100vh - 8rem);
  width: 25vw;
  z-index: 10;
  background-color: #f5f5f5;
  padding: 3rem;
  left: -25vw;
  transition: all 500ms;
}

.sidebar-heading-main {
  display: flex;
  justify-content: space-between;
    margin-bottom: 3rem;
}

.sidebar-heading,
.sidebar-heading-main {
  font-weight: 500;
}

.sidebar-close-btn {
  border: 0;
  background-color: transparent;
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 500;
  right: 3rem;
}

.sidebar-close-btn:hover {
  cursor: pointer;
}

.sidebar-group {
  padding: 2rem 0;
}

.artist-group,
.price-group {
  padding: 1rem 0;
}

.checkbox {
  margin-right: 1rem;
}
