.view-page {
  padding: 3rem 3rem;
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.nft-panel {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.nft-artist,
.pricing-heading {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.nft-number {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

.nft-info {
  font-size: 2rem;
}

.nft-image-container,
.nft-image {
  max-height: 100%;
  max-width: 100%;
}

.nft-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-image-wrapper {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-image {
  object-fit: contain;
}

.nft-info-item {
  margin: .5rem 0;
}

.nft-owner {
  font-size: 2rem;
  color: rgb(23, 133, 236);
  margin-left: 1rem;
}

.nft-owner:hover {
  cursor: pointer;
}

.nft-panel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nft-panel-info,
.nft-panel-pricing {
  height: 100%;
  width: 100%;
  padding: 3rem;
  border-radius: 20px;
  background-color: #f5f5f5;
}

.nft-panel-info > *:first-child {
  padding-top: 0;
}

.nft-info-item {
  display: flex;
  align-items: center;
  padding: .5rem;
  font-weight: 500;
}

.nft-info-item .fa-eye {
  color: #000;
  font-size: 2.5rem;
}

.nft-info-item .fa-heart {
  -webkit-text-stroke-color: #000;
  font-size: 2.5rem;
  z-index: 10;
}

.nft-info-item .fa-heart:hover {
  -webkit-text-stroke-color: red;
}

.price-box {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.bid-btn,
.cart-btn,
.submit-bid-btn,
.cancel-bid-btn {
  font-size: 2rem;
  font-weight: 500;
  padding: 1.5rem 3rem;
  border: 0;
  border-radius: 1.2rem;
  color: #fff;
  background-color: rgb(23, 133, 236);
  transition: filter 200ms;
  align-self: center;
  margin-bottom: 0;
}

.cart-btn {
  background-color: rgb(211, 161, 25);
}

.cancel-bid-btn {
  background-color: rgb(137, 137, 137);
}

.bid-btn,
.submit-bid-btn {
  margin-right: 1rem;
}

.bid-btn:hover,
.cart-btn:hover,
.submit-bid-btn:hover,
.cancel-bid-btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.bid-modal {
  background-color: rgba(0, 0, 0, 0.187);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.bid-modal-inner {
  width: 42rem;
  height: 28rem;
  background-color: #fff;
  font-size: 2rem;
  padding: 4rem;
  padding-top: 5rem;
  position: relative;
}

.last-sold-price-number {
  margin-left: 1rem;
}

.modal-close-btn {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.modal-close-btn:hover {
  cursor: pointer;
}

.last-sold-price {
  margin-bottom: 3rem;
}

.input-wrapper{
  display: inline-block;
  position: relative;
}

.bid-amount-input {
  padding: .5rem;
  font-size: 2rem;
}

.bid-amount-input::placeholder {
  font-family: inherit;
  font-weight: 100;
  color: #bdb5b5;
}

.number-controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2px;
  right: 2px;
  height: 90%;
}

.increment-icon,
.decrement-icon {
  transform: translateY(-5px);
}

.increment,
.decrement {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.229);
  color: #bdb5b5;
  padding: 0 2px;
  margin: 0;
  height: 50%;
}

.decrement-icon {
  transform: rotateX(180deg) translateY(7px);
}

.increment:hover,
.decrement:hover {
  cursor: pointer;
  filter: brightness(0);
}

.form-group {
  margin-bottom: 3rem;
}

.input-currency {
  position: absolute;
  top: 7px;
  right: 175px;
}


@media only screen and (max-width:1200px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width:780px) {
  html {
    font-size: 45%;
  }

  .pricing-btns .bid-btn,
  .pricing-btns .cart-btn {
    padding: .5rem 1rem;
  }
}

@media only screen and (max-width:500px) {
  html {
    font-size: 45%;
  }

  .pricing-btns .bid-btn,
  .pricing-btns .cart-btn {
    padding: 1.5rem 3rem;
  }

  .view-page {
    height: 100%;
  }

  .view-page .grid {
    grid-template-columns: 1fr;
    grid-template-rows: initial;
  }
}